* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.container {
  padding: 0 1rem;
}

a {
  color: #333;
  text-decoration: none;
}

.todos {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
}

.btn {
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  float: right;
}

.btn-success {
  background: green;
  border-radius: 10%;
  font-size: large;
}

.btn-danger {
  background: crimson;
  border-radius: 50%;
}

header {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

form {
  display: flex;
}

.link {
  color: white;
}
